.contact {
    padding-bottom: 40px;
}

.contact__header {
    margin: 10px 0 30px;
}

.contact__box {
    align-items: stretch;
}

.contact__col {
    padding: 0 20px 0 0;
}

.contact__col--big {
    width: 62%;
    padding-top: 30px;
    justify-content: space-between;
}

.contact__input {
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    font-size: 3rem;
    font-family: "Raleway";
    border: 1px solid #24BA9F;
}

.contact__input::-webkit-input-placeholder {
    color: #c2c2c2;
}

.contact__input--textarea {
    margin: 0;
    resize: none;
    height: 200px;;
}

.contact__col--small {
    width: 38%;
    padding-left: 20px;
    justify-content: flex-end;
    background-image: url("../images/red_chair.png");
    background-repeat: no-repeat;
    background-position-x: 45px;
}

.contact__img {
    margin: 0 0 80px 30px;
}

.contact__permision {
    margin-bottom: 30px;
}

.contact__permision-text {
    font-size: 2.0rem;
    color: #c2c2c2;
}

.contact__checkbox-container {
    border: solid 1px #24BA9F;
    margin-right: 15px;
}

#check {
    display: none;
}

.contact__checkbox {
    display: block;
    width: 52px;
    height: 50px;
    background-image: url("../images/check_uncheck.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left center;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

#check:checked + .contact__checkbox {
    background-position: right center;
    opacity: 1;
}

.footer {
    padding: 40px 0;
}

.footer__col-copy {
    width: 62%;
    font-size: 1.6rem;
    font-weight: 600;
    color: #959595;
    padding-right: 20px;
}

.footer__col-links {
    width: 38%;
    justify-content: space-between;
    padding: 0 20px;
}

.footer__social {
    font-size: 0;
}

.footer__link {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: initial;
}

.footer__link--flickr {
    background-image: url("../images/flickr.png");
}
.footer__link--vimeo {
    background-image: url("../images/vimeo.png");
}
.footer__link--pinterest {
    background-image: url("../images/pinterest.png");
}
.footer__link--twitter {
    background-image: url("../images/twitter.png");
}

.footer__link--home {
    width: auto;
    height: auto;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #959595;
}

.footer__link--home span {
    font-weight: bold;
}
