.title-decor,
.title-decor--right {
    position: relative;
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
}

.title-decor--big {
    font-size: 2rem;
    color: #545454;
    padding-top: 2rem;
}

.title-decor::before,
.title-decor--right::before {
    content: "";
    width: 120%;
    height: 0.7rem;
    background-color: $accent-color;
    position: absolute;
    bottom: -0.7rem;
}

.title-decor::before {
    left: 0;
}

.title-decor--right::before {
    right: 0;
}
