.button {
    background-color: $accent-color;
    display: inline-block;
    color: white;
    font-size: 2.5rem;
    margin: 20px 0;
    padding: 15px 50px;
    border-radius: 10px;
    transition: all .3s;
    text-transform: uppercase;

    &:hover {
        color: $accent-color;
        background-color: white;
    }
}
