* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;

    &:focus-within {
        outline: none;
    }
}
