@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');

$base-font-family: "Raleway", Tahoma, Geneva, Arial, sans-serif;

$root-font-size: 25px;
$regular-font-size: 1.6rem;
